#expensesPageHeader {
    display: flex;
    margin-bottom: 1em;
    font-size: 1.2em;
}

#expensesPageHeader .itemAdder {
    margin-left: auto;
}

#expensePageBody {
    display: flex;
}

#expensesLists,
#incomesLists,
#statistics {
    width: 40.5vw;
    background-color: #f2f6fc;
    border-radius: 1em;
}

#incomesLists {
    margin-bottom: 1.5em;
}

#expensesLists h1,
#incomesLists h1,
#statistics h1 {
    padding-top: 0.4em;
    margin-bottom: 0.4em;
    width: 100%;
    text-align: center;
    font-size: 1.8em;
}

.itemsLists {
    display: flex;
    flex-wrap: wrap;
}

#incomesLists .itemsLists div.itemsList {
    margin: auto;
    margin-bottom: 1.5%;
}

#calculations {
    margin-left: auto;
}

#statistics {
    padding: 3%;
    padding-bottom: 0;
}

#statistics h1 {
    padding-top: 0.05em;
}
