.intervalPicker {
    margin-bottom: 1em;
    font-size: 1.5em;
    padding: 0.5em;
    background-color: #f2f6fc;
    width: 35vw;
    text-align: center;
    border-radius: 1em;
}

.intervalPicker label {
    margin-right: 0.6em;
}

.intervalPicker input {
    margin-right: 2.5em;
    border-radius: 2em;
    padding: 1em;
    border: none;
    background-color: #fdfdfd;
}

.intervalPicker button {
    padding: 0.8em;
    border-radius: 2em;
    border: none;
}
