.itemAdder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    background-color: #f2f6fc;
    border-radius: 1em;
}

.itemAdder button {
    padding: 0.5em;
    border: none;
    font-size: 1.3em;
    cursor: pointer;
    border-radius: 1em;
}

.itemAdder button svg {
    display: flex;
}