.itemAdder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    background-color: #f2f6fc;
    border-radius: 1em;
}

.itemAdder button {
    padding: 0.5em;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 1em;
}

.itemAdder button svg {
    display: flex;
}

.mb-3 .form-label {
    font-weight: 500;
}

.mb-3 .form-control,
.mb-3 .form-select {
    background-color: #fcfcfd;
    border-radius: 1em;
}

.modal .modal-content {
    background-color: #f2f6fc;
    border-radius: 0.8em;
}

.modal-footer .btn {
    border-radius: 2em;
}

.modal-footer .btn-primary {
    background-color: #6b94d3;
    border-color: #6b94d3;
}

.modal-footer .btn-primary:hover {
    background-color: #5e83bb;
    border-color: #5e83bb;
}

.modal-footer .btn-secondary {
    background-color: #b4bcc8;
    border-color: #b4bcc8;
}

.modal-footer .btn-secondary:hover {
    background-color: #9ba3ad;
    border-color: #9ba3ad;
}
