.itemsList {
    width: 47%;
    text-align: center;
    padding: 1.5%;
    padding-left: 2.5%;
    margin: 1.5%;
    background-color: #fcfcfd;
    border-radius: 1em;
}

.itemsList h2 {
    font-size: 1.5em;
}

.itemsList table {
    width: 100%;
    border-spacing: 0.4em;
    margin-bottom: 0.8em;
}

.itemsList tbody {
    font-size: 0.9em;;
}

.itemsList thead,
.itemsList tbody {
    display: block;
}

.itemsList thead tr th:first-child,
.itemsList tbody tr td:first-child {
    width: 25%;
}

.itemsList thead tr th:nth-child(3),
.itemsList tbody tr td:nth-child(3) {
    width: 20%;
}

tbody {
    height: 12vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.itemsList .itemsTotal {
    font-weight: bold;
}
